.about-me{
    margin-left: 5rem;
    margin-right: 5rem;
    max-width: 800px;
    animation: 1s fadeLeft;
}

.about-me h1{
    font-size: 2.5em;
}

.about-me p{
    font-size: 1.2em;
}

.about-me ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 10rem;
}

.main-about{
    margin-bottom: 5rem;
}

.about-me li{
    margin-bottom: 1rem;
}

  @media only screen and (max-width: 600px) {
    .about-me {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 3rem;
    }
  }

  @keyframes fadeLeft {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 100%;
    }
  }