.about-page{
  display: flex;
  flex-direction: row-reverse;
}

.about-me{
  max-width: 700px;
  margin-left: 5rem;
  margin-right: 15rem;
  animation: 1s fadeUp;
}

.about-me p{
    font-size: 1.2em;
}

.about-me ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 10rem;
}

.main-about{
    margin-bottom: 5rem;
}

.about-me li{
    margin-bottom: 1rem;
}

.images{
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
}

.portrait-1{
  display: block;
  width: 300px;
  position: relative;
  top: 75px;
  z-index: 1;
  transform: rotate(15deg);
  box-shadow: 15px 5px 0px 0px $highlight-col;
  animation: 1.5s fadeUpPic-1;
}

.portrait-1:before{
  box-shadow: 25px 30px 0px 0px $highlight-col;
  z-index: -1;
}

.shrimp-1{
  display: block;
  display: block;
  width: 200px;
  position: relative;
  z-index: 0;
  transform: rotate(-15deg);
  box-shadow: -15px 5px 0px 0px $highlight-col;
  animation: 2.25s fadeUpPic-2;
  
}

  @media only screen and (max-width: 600px) {
    .about-me {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 7rem;
        margin-bottom: 10rem;
    }
    .about-page{
      display: inline-block;
      width: 100%;
    }
    .images{
      margin-left: 5rem;
    }
  }

  @keyframes fadeUp {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 100%;
    }
  }

  @keyframes fadeUpPic-1{
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) rotate(15deg);
      opacity: 100%;
    }
  }

  @keyframes fadeUpPic-2{
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) rotate(-15deg);
      opacity: 100%;
    }
  }