.experience-section{
    max-width: 900px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.experience-details{
    border-left: 2px $text-col solid;
    padding-left: 2rem;
    margin-bottom: 4rem;
}

@keyframes fadeUp {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 100%;
    }
  }