.experience-section{
    max-width: 900px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
    animation: 1s fadeUp;
}

.experience-details{
    border-left: 2px $text-col solid;
    padding-left: 2rem;
    margin-bottom: 4rem;
    transition-duration: 0.5s;
}

.experience-details:hover,
.experience-details:active,
.experience-details:focus{
  margin-left: 2rem;
  padding-left: 1rem;
  color: $highlight-col;
  border-color: $highlight-col;
  border-left: 3px $highlight-col solid;
}

@keyframes fadeUp {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 100%;
    }
  }

  @media only screen and (max-width: 1000px) {
    .experience-section{
        margin-left: 2rem;
        margin-right: 1rem;
    }
}

@keyframes fadeUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}
