@import "./hamburger-menu";

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-top: 1rem;
    padding-bottom: 0rem;
    //background-color: $background-col;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
    animation: 2s fadeDown;
    transition-duration: 0.25s;
}

header h1{
    margin-left: 2rem;
    z-index: 10;
}

.header-down{
    top: -100%;
}

.header_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5rem;
}

.header_links li{
    margin: 1em;
    list-style: none;
    z-index: 10;
    font-weight: 900;
    font-size: 1.2em;
}

.headerlink{
    color: $text-col;
    text-decoration: none;
}

.styled-underline{
    background-image: linear-gradient($highlight-col, $highlight-col);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    cursor: pointer;
}

.styled-underline:hover,
.styled-underline:focus, 
.styled-underline:active{
    background-size: 100% 0.1em;
}

.headerlink:hover,
.headerlink:focus, 
.headerlink:active{
    color: $highlight-col;
}

.resume-button{
    border: 3px solid $highlight-col;
    border-radius: 25px;
    padding: 0rem;
    cursor: pointer;
    transition-duration: 0.25s;
}

.resume-button li{
    padding: 0;
    margin: 0.75rem 1.25rem;
}

.resume-button:hover,
.resume-button:focus, 
.resume-button:active{
    background-color: $highlight-col;
    box-shadow: 0 0 3px $highlight-col;
    color: $background-col;
}

.hamburger-menu{
    margin-right: 2rem;
    display: none;
    z-index: 10;
}

.class-you-want-to-animate{
    animation: 2s fadeDown;
}

@keyframes fadeDown {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 100%;
    }
  }

@media only screen and (min-width: 1000px) {
    .mobile-icon{
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .desktop-icon{
        display: none;
    }
    .header_links li{
        margin: 0;
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 750px) {
    .header_links button{
        display: none;
        transition: none;
    } 
}

@media only screen and (max-width: 750px) {
    .resume-button{
        border: 3px solid $highlight-col;
        padding: 1rem 1rem;
        cursor: pointer;
        transition-duration: 0.25s;
        width: 100%;
    }
    .resume-button li{
        margin: auto;
        justify-content: center;
        text-align: center;
    }
    .header_links{
        position: absolute;
        flex-direction: column;
        top: 5rem;
        left: 0;
        width: 100%;
        text-align: center;
        justify-content: center;
        backdrop-filter: blur(10px);
        padding: 0;
        z-index: -2;
    }
    .hamburger-menu{
        display: block;
    }
    .header_links li{
        margin: 0;
        margin-left: -0.5rem;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .header_links li.desktop-only{
        display: none;
    }
    .redirect-button{
        width: 100%;
        height: 4rem;
        font-size: 1em;
        font-weight: 900;
        color: $text-col;
        border: none;
        background-color: #00000000;
        cursor: pointer;
    }
    .redirect-button:hover,
    .redirect-button:active,
    .redirect-button:focus{
        color: $highlight-col;
    }
    .header_links li .headerlink{
        width: 100%;
    }
    .header_links.hidden{
        margin-top: -100%;
        transition-duration: 1s;
        opacity: 0%;
    }
    .header_links.expand{
        transition-duration: 1s;
        opacity: 100%;
    }
}
